@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for 
	older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




.container {
    width: 1270px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    padding-top: 54px;
}

.menu {
    flex-basis: 70%;
}

.menu ul{
    display: flex;
}

.menu ul li a {
    text-decoration: none;
    color: #911F27;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 31px;
}

.admin_menu ul li a{
    font-size: 20px;
}

.header__cart {
    cursor: pointer;

    padding: 14px 61px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;

    font-weight: 700;
    border-radius: 8px;
    background: #630A10;
}

.link_to_menu {
    padding-top: 50px;
}

.link_el {
    cursor: pointer;
    padding: 16px 70px;
    border-radius: 33.5px;
    background: #FCF0C8;
}

.link_el p {
    color: #911F27;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -0.5px;
}

.welcome {
    padding-top: 50px;
}

.stories {
    padding-top: 24px;
}

.stories img {
    cursor: pointer;
}

.wrapper_title {
    display: flex;
    align-items: center;
}

.wrapper_title h1 {
    color: #630A10;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    letter-spacing: -1px;
}

.queue {
    margin-left: 42px;
    padding: 4px 0px;
    display: flex;
    border-radius: 12.5px;
    background: #FFF;
    box-shadow: 0px 3px 5.3px 2px rgba(0, 0, 0, 0.25);
}

.queue p {
    padding: 0px 5px;

    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 15px */
    letter-spacing: -0.375px;
}

.point {
    padding-right: 3px;
}

.new {
    padding-top: 63px;
}

.new .wrapper {
    justify-content: flex-start;
}



.new h1 {
    color: #630A10;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    letter-spacing: -1px;

    padding-bottom: 30px;
}


.new__card {
    margin-right: 50px;
    width: 280px;
    height: 193px;
    padding: 0px 18px;
    border-radius: 8px;
    border: 2px solid #A7A7A7;
}

.new__card h3 {
    color: #911F27;
    font-family: Montserrat;

    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
    letter-spacing: -0.375px;
}

.new__card-footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price h4 {
    color: #630A10;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.6px;
}

.price p {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
    letter-spacing: -0.35px;
}

.add__cart {
    cursor: pointer;
    border: none;

    width: 37px;
    height: 37px;

    border-radius: 8px;
    background: #911F27;

    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -0.5px;
}

.eat__product {
    padding: 32px 20px;
    border-radius: 8px;
    border: 1px solid #A2A2A2;
    background: #FFF;
}

.eat__title {
    padding-top: 60px;
    padding-bottom: 10px;
    color: #630A10;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    letter-spacing: -1px;
}


.eat__product h3 {
    padding-bottom: 19px;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
    letter-spacing: -0.375px;
}

.eat__product p {
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 15px */
    letter-spacing: -0.375px;
    width: 160px;
}

.user_info {
    padding-top: 100px;
}

.user_info .wrapper {
    justify-content: flex-start;
    align-items: flex-start;
}

.user_info img {
    padding-right: 50px;
}

.user_info-footer h1 {
    color: #911F27;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.user_info-footer-el {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.user_info-footer-el p {
    color: #630A10;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.user_info-footer-wrapper {
    padding-top: 20px;
}

.auth {
    padding-top: 120px;
}

.auth h1 {
    padding-bottom: 20px;
    color: #911F27;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.auth p {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 80px;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

.auth input {
    cursor: pointer;
    width: 500px;
    /* height: 64px; */

    border-radius: 8px;
    border: 1px solid #969696;
    background: #FFF;
    padding: 20px 0px;
    padding-left: 30px;
    margin-bottom: 16px;
}

.auth__form button {
    border: none;

    width: 316px;
    height: 48px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.6px;


    border-radius: 8px;
    background: #911F27;
}

.link_to_back {
    margin-top: 60px;
}


.link_to_back a {
    text-decoration: none;
    display: flex;
    align-items: center;

    color: #911F27;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -0.5px;
}

.link_to_back img {
    padding-right: 10px;
}

.adress {
    padding-top: 65px;
    padding-bottom: 75px;
}

.adress h3 {
    color: #911F27;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 32px */
    letter-spacing: -0.8px;
}

.adress p {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
    letter-spacing: -1px;
}

.congif_order h3 {
    color: #911F27;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -0.5px;

    margin-bottom: 50px;
}

.congif_order_form-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.congif_order_form select{
    margin-bottom: 25px;

    border-radius: 8px;
    border: 1px solid #B0B0B0;

    padding: 23px 0px;
    padding-left: 18px;
}

.congif_order_form input {
    border-radius: 8px;
    border: 1px solid #B0B0B0;
    padding: 23px 0px;
    padding-left: 18px;
}

.congif_order_form button {
    cursor: pointer;
    border: none;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.6px;

    width: 281px;

    border-radius: 8px;
    background: #911F27;

    padding: 18px;
}

.table select {
    width: 500px;
    height: 65px;
    flex-shrink: 0;
}

.ready_order{
    margin-top: 134px;
}

.ready_order h4{
    padding-bottom: 32px;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    letter-spacing: -0.8px;
}

.ready_order h1{
    padding-bottom: 48px;
    color: #911F27;
    text-align: center;
    font-family: Montserrat;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 128px */
    letter-spacing: -3.2px;
}


.ready_order button{
    position: relative;
    left: 39%;

    border: none;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: -0.6px;

    width: 281px;
    height: 59px;


    border-radius: 8px;
    background: #911F27;
}

.board{
    margin-top: 147px;
}

.board h1{
    color: #911F27;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.board__card{
    padding: 23px 0px;
    padding-left: 37px;
    width: 390px;
    height: 504px;

    border-radius: 24px;
    border: 2px solid #9B9B9B;
    background: #FFF;
}

.board__card-number{
    color: #911F27;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.board__card-el{
    display: flex;
    align-items: center;
}

.board__card-el img{
    padding-right: 15px;
}

.board__card-el-info h2{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.5px;
}

.board__card-el-info h3{
    color: #630A10;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    letter-spacing: -0.8px;
}

.board__card-user{
    margin-top: 45px;

    display: flex;
    align-items: center;
}

.board__card-user p{
    color: #911F27;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.board__card-info{
    display: flex;
    align-items: center;
}

.board__card-info-table{
    padding-right: 10px;
}

.board__card-info-table p{
    color: #911F27;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.4px;
}

.board__card-info-table span{
    color: #911F27;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 24px */
    letter-spacing: -0.6px;
}



.board__card-info-time p{
    color: #911F27;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.4px;
}

.board__card-info-time span{
    color: #911F27;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 24px */
    letter-spacing: -0.6px;
}

.board__card button{
    cursor: pointer;
    border:none;

    margin-top: 50px;

    width: 316px;
    height: 48px;


    border-radius: 8px;
    background: #911F27;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: -0.6px;
    
}
@media(max-width: 450px) {
    .container {
        width: 312px;
    }
}